* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
:root {
    --primary-color: #000958;
    --second-color: #ff5b2e;

    --text-color-02: #656689;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

/* font-family: "Pattaya", sans-serif; */

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    height: var(--height);
    line-height: var(--height);

    color: var(--second-color);
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;

    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);

    user-select: none;
    -webkit-tap-highlight-color: none;
    transition: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn__primary {
    color: #fff !important;
    background: var(--second-color) !important;
    border-color: var(--second-color) !important;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section__heading {
    color: var(--primary-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    margin-top: 24px;
    color: var(--text-color-02);
    line-height: 1.87;
}

.section__heading--h3 {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.section__desc--article {
    color: var(--text-color-02);
    font-size: 1.4rem;
    font-weight: 400;
}

/* Header */
.header {
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
}

.logo {
}

.navbar {
}

.navbar__list,
.header-action {
    display: flex;
    align-items: center;
}

.navbar__item {
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover,
.navbar-link__active,
.header-action__link:hover {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header-action {
}

.header-action__link {
}

.header-action__btn {
    --height: 50px;

    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid rgba(0, 9, 88, 0.7);
}

.header-action__btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 9, 88, 1);
}

/* Hero */
.hero {
}

.hero-wrap {
    margin-top: 74px;
    display: flex;
    align-items: center;
    column-gap: 121px;
}

/* Hero Media */
.hero-media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero-media__image {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero-media__image-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero-media__decor {
    position: absolute;
    z-index: -1;
}

.hero-media__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero-media__decor-right {
    top: 16.66px;
    right: -42.5px;
}

.hero-media__image-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background-color: #faa7ad;
    border-color: #fcdcde;
}

.hero-media__image-img-small {
    margin-bottom: -3px;
}

.hero-content {
}

/* Hero media list */
.hero-media__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-media__item {
    display: flex;
    align-items: center;
}

.hero-media__item-thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}

.hero-media__item:nth-last-child(1) .hero-media__item-thumb {
    background-color: #c6e2fa;
}

.hero-media__item-info {
    margin-left: 10px;
}

.hero-media__item-title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-media__item-skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--primary-color);
}

.hero-media__item-skeleton:nth-last-child(1) {
    width: 39px;
}

.hero-media__item-separation {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background-color: #f2f2f2;
}

/* Hero Content */
.hero-content {
}

.hero__heading {
    color: var(--primary-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    width: 390px;
    color: var(--text-color-02);
    line-height: 1.87;
}

.hero-row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 189px;
    font-weight: 600;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    padding: 8px 0;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* Main Content */
.main-content {
}

/* About */
.about {
}

.about-wrap {
    margin-top: 138px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

/* About content */
.about__content {
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    width: 431px;
}

.about__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    column-gap: 36px;
    row-gap: 34px;
}

.about__item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__item::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #ff5d31;
    transition: box-shadow ease-in-out 0.15s;
}

.about__item:hover::before {
    box-shadow: 2px 2px 12px rgba(255, 93, 49, 0.5), -2px 0 12px rgba(255, 93, 49, 0.5);
}

.about__item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../icon/about-item-icon.svg);
}

/* About Media */
.about__media {
    position: relative;
}

.about__media-card {
    position: absolute;
    top: 157px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    text-align: center;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__media-card-number {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__media-card-text {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.42;
}

.about__media-card-icon {
    position: absolute;
    top: -39px;
    right: -31px;
}

.about__media-image {
    position: relative;
    width: 494px;
    border-radius: 16px;
    margin-left: auto;
}

.about__media-image-img {
    width: 450px;
    display: block;
    margin: 8px auto 0;
}

.about__media-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__media-image-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

/* About media 02 */
.about__media-image-02 {
    margin-left: 0;
    width: 458px;
}

.about__media-image-02::after {
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__media-image-img-02 {
    margin-top: 0;
    width: 100%;
}

.about__media-image-decor-2 {
    position: absolute;
}

.about__media-image-decor-2:nth-child(1) {
    top: 12.5px;
    right: 63px;
}

.about__media-image-decor-2:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__media-image-decor-2:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__media-image-decor-2:nth-child(4) {
    right: -33px;
    bottom: 206.5px;
}

.about__media-image-decor-2:nth-child(5) {
    right: 19px;
    bottom: 150px;
}

.about__media-image-decor-2:nth-child(6) {
    right: -23.21px;
    bottom: -39.21px;
}

.about__media-image-decor-2:nth-child(7) {
    right: -32.6px;
    bottom: -46.9px;
}

.about__media-image-decor-2:nth-child(8) {
    right: -42px;
    bottom: -54.58px;
}

/* About content 02 */
.about__heading--02 {
    padding-top: 30px;
}

.about__desc--02 {
    width: 511px;
    margin-bottom: 52px;
}

.tag {
}

.tag-top {
}

.tag-list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tag-list::after,
.tag-item--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--second-color);
    opacity: 0.07;
}

.tag-item {
    position: relative;
    padding-bottom: 10px;
}

.tag-item--active::after {
    width: 95px;
    opacity: 1;
}

.tag-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tag-link__icon {
    width: 20px;
    height: 20px;
}

.tag-body {
    padding-top: 36px;
}

.tag-item__content {
    display: none;
}

.tag-item__content--active {
    display: block;
}

.tag-item__content-text {
    width: 391px;
    color: var(--text-color-02);
    font-size: 1.4rem;
    line-height: 1.71;
}

.tag-item__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    color: #ff5d31;
    font-weight: 500;
    line-height: 1;
}

.tag-item__content-more::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: currentColor;
}

/* Services */
.services {
    margin-top: 185px;
    padding: 68px 0 100px;
    background-color: #fff6ed;
}

.services-wrap {
}

.services-top {
    text-align: center;
}

.services__desc,
.staff__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.services__heading {
}

.services-body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 62px;
}

.services-body__content {
}

.services-content__item {
    width: 294px;
    padding: 30px 28px 22px;
    border-radius: 10px;
    background: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
}

.services-content__item + .services-content__item {
    margin-top: 24px;
}

.service-content__heading {
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: color ease-in-out 0.15s;
}

.service-content__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background: linear-gradient(to bottom, #ff5b2e, #ffa187);
}

.service-content__heading:hover {
    color: var(--second-color);
}

.services-content__desc {
    width: 244px;
    margin-top: 18px;
    line-height: 1.71;
}

.services-content__link-more {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 16px;
    padding: 8px 0;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    line-height: 1; /* 100% */
}

.services-content__link-more::after {
    margin-top: 2.5px;
    content: url(../icon/arrow-up-right.svg);
}

.services-content__link-more:hover {
    text-decoration: underline;
    text-shadow: 0.1px 0.1px 0 currentColor;
}

.services-body__media {
    margin-top: 18px;
}

.service-media__wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.service-media__wrap::after {
    content: "";
    display: inline-block;
    width: 410px;
    height: 350px;
    position: absolute;
    left: 22px;
    right: 15px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services-media__image {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.services-media__cta {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.services-media__cta-btn {
    min-width: 214px;
}

.services-media__cta-btn:hover {
    color: #fff;
    background-color: var(--second-color);
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff-wrap {
}

/* Staff top */
.staff-top {
    text-align: center;
}

.staff__desc {
}

.staff__heading {
}

/* Staff body */
.staff-body {
    margin-top: 59px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.staff__item {
    text-align: center;
}

.staff__item-image {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff__item-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    height: 93%;
    border-radius: inherit;
}

.staff__item-image::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: inline-block;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff__item:nth-child(1) .staff__item-image::before {
    background-image: url(../img/staff-img-decor-1.svg);
}

.staff__item:nth-child(1) .staff__item-image::after {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(2) .staff__item-image::before {
    background-image: url(../img/staff-img-decor-2.svg);
}

.staff__item:nth-child(2) .staff__item-image::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__item:nth-child(3) .staff__item-image::before {
    background-image: url(../img/staff-img-decor-3.svg);
}

.staff__item:nth-child(3) .staff__item-image::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__item:nth-child(4) .staff__item-image::before {
    background-image: url(../img/staff-img-decor-4.svg);
}

.staff__item:nth-child(4) .staff__item-image::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__item:nth-child(even) .staff__item-image::before {
    background-position: 0 16px;
}

.staff__item-img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff__item-title {
    margin: 34px 0 14px;
    color: var(--text-color-02);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff__item-name {
    transition: color ease-in-out 0.15s;
}

.staff__item-name:hover {
    color: var(--second-color);
}

.staff__cta-wrap {
    margin-top: 48px;
    text-align: center;
}

.staff__cta-btn {
    min-width: 193px;
}

.staff__cta-btn:hover {
    color: #fff;
    background-color: var(--second-color);
}

/* Plan */
.plan {
    padding: 86px 0;
    background-color: #fff6ed;
}

.plan-wrap {
}

.plan-top {
    text-align: center;
}

.plan-heading {
}

.plan-desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.plan-body {
    margin: 38px auto 0;
    width: 994px;
}

.plan-pricing__select-wrap {
    display: flex;
    justify-content: center;
    position: relative;
}

.plan-pricing__select {
    position: relative;
}

.plan-pricing__select-input {
    display: none;
}

.plan-pricing__select-input:checked ~ .plan-pricing__select-label,
.plan-pricing__select-input:not(:checked) ~ .plan-pricing__select-label span:nth-child(1) {
    color: var(--second-color);
}

.plan-pricing__select-input:checked ~ .plan-pricing__select-label span:nth-child(1),
.plan-pricing__select-input:checked ~ .plan-pricing__select-label::after {
    color: #fff;
    width: 138px;
}

.plan-pricing__select-input:checked ~ .plan-pricing__select-label::after {
    right: auto;
    left: 0;
}

.plan-pricing__select-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);

    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}

.plan-pricing__select-label::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 131px;
    height: inherit;
    border-radius: inherit;
    background-color: var(--second-color);
}

.plan-pricing__select-label span {
    position: relative;
    z-index: 1;
}

.plan-pricing__off {
    position: absolute;
    top: -10px;
    right: -110px;
}

/* Plan pricing option */
.plan-pricing__option-wrap {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.plan-pricing__option {
    padding: 30px 28px 43px;
    border-radius: 20px;
    background-color: #fff;
}

.plan-pricing__option--active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.plan-pricing__option-type {
    color: var(--second-color);
    font-size: 1.2rem;
    line-height: 1;
}

.plan-pricing__option-heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
}

.plan-pricing__option-price {
    margin-top: 24px;
    color: var(--primary-color);
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.plan-pricing__option-btn {
    --height: 44px;

    margin-top: 22px;
    width: 100%;
    background-color: transparent;
}

.plan-pricing__option-list {
    margin-top: 24px;
}

.plan-pricing__option-item {
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: var(--text-color-02);
    font-size: 1.4rem;
    line-height: 1;
}

.plan-pricing__option-item::before {
    content: url(../icon/plan-pricing-option-item-icon.svg);
    display: inline-block;
    margin-right: 14px;
}

.plan-pricing__option-item.plan-pricing__option-item--not::before {
    content: url(../icon/plan-pricing-option-item-icon-not.svg);
}

/* Review */
.review {
    margin: 53px 0;
}

.review-wrap {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--second-color);
    border: 1px solid #ffd1c4;
    background-color: transparent;
}

.review-control:nth-last-of-type(1) {
    margin-left: auto;
}

.review-control:hover {
    color: #fff;
    border-color: var(--second-color);
    background-color: var(--second-color);
    box-shadow: 0 0 16px rgba(255, 91, 46, 0.6);
}

.review-content {
    position: relative;
    overflow: hidden;
}

.review-content__heading {
    position: absolute;
    top: 113px;
    left: 389px;
}

.review-list {
    display: flex;
    align-items: center;
}

.review-item {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 115px;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 82%;
    border-radius: inherit;
    background-color: #ffda54;
}

.review-item__media-img {
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

.review-item__content {
    margin-top: 172px;
}

.review-item__quote {
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.55;
}

.review-item__client {
    margin-top: 34px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review-item__client::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid var(--second-color);
}

.review__dot:hover {
    background-color: var(--second-color);
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background-color: var(--second-color);
}
